.container {
	background-color: #ebf0f0;
}
.header {
	display: flex;
	justify-content: space-between;
	&_navigation {
		display: flex;
		align-items: center;
	}
	&_controls {
		&_btn {
			display: flex;
		}
		&_search_icon svg {
			width: 20px;
			cursor: pointer;
		}
		&_cart_menu svg {
			width: 20px;
			cursor: pointer;
		}
	}
}
