ul {
	list-style: none;
	display: flex;
}
li:not(:first-child) {
	margin-left: 10px;
}
.nav {
	display: flex;
	list-style: none;
	padding: 0;
	&_item {
		padding: 5px 10px;
	}
	&_item:hover {
		background-color: #19a68c;
		border-radius: 15px;
		a {
			color: #fff;
		}
	}

}
.active {
	padding: 5px 10px;
	background-color: #19a68c;
	border-radius: 15px;
	color: #fff

}