.footer {
	display: flex;
	justify-content: space-between;
	&_pay {
		display: block;
		justify-content: space-between;
		margin: 12px auto 0;
		&_systems:not(:first-child) {
			margin-left: 5px;
		}
		&_information {
			display: flex;
			flex-direction: column;
			margin: 0 30px;
			&_sprite {
				display: flex;
				justify-content: space-between;
				img {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
	&_info {
		display: block;
	}
	&_contacts {
		display: flex;
		flex-direction: column;
	}
}

.footer-copyright {
	font-size: 0.8em;
}

.footer-contacts-phone {
	display: block;
}

.footer-contacts-email {
	display: block;
}
