.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 20px;
	&_pay {
		display: block;
		justify-content: space-between;
		margin: 12px auto 0;
		&_systems:not(:first-child) {
			margin-left: 5px;
		}
		&_information {
			display: flex;
			flex-direction: column;
			margin: 0 30px;
			width: 800px;
			padding: 20px;
			border-radius: 15px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			&_sprite {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&_contacts {
		display: flex;
		flex-direction: column;
		width: 300px;
		padding: 20px;
		border-radius: 15px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&_email {
			display: block;
		}
		&_phone {
			display: block;
			margin-bottom: 10px;
		}
		&_working_hours {
			display: block;
			margin-bottom: 10px;
		}
	}
	&_social_links {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		width: 120px;
		&_twitter img {
			width: 50px;
			height: 50px
		}
		&_vk img {
			width: 50px;
			height: 50px
		}
	}
	&_info {
		padding: 20px;
		border-radius: 15px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}

h5 {
	font-size: 24px;
	margin-top: 0;
}

.footer_pay_information_sprite span img {
	width: 80px;
	height: 80px;
	object-fit: contain;
}